<div class="col">
  <div class="card border-0 px-3 py-4">
  <a href="<%= post_path(post) %>">
    <div class="figure hover-zoom-in"><img src="<%= post.cover_image_variant_path(resize: "440x150^" , crop: "440x150+100+0", gravity: "Center") %>" class="card-img-top"></div>
  </a>
  <div class="card-body px-0">
    <a href="<%= topic_path(post.topic) %>">
      <h6 class="card-title"><%= post.topic %></h6>
    </a>
    <a href="<%= post_path(post) %>" class="text-dark">
      <h5 class="card-title"><%= post.title %></h5>
    </a>
    <p class="card-text text-muted fs-7">
      by <span class="text-primary"><%= post.author_name %></span> • <%= short_date post.published_at %>
    </p>
  </div>
  </div>
</div>