<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "bloak/application", media: "all" %>
    <%= javascript_include_tag    "bloak/application", media: "all" %>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render 'layouts/bloak/header' %>
      <div class="navbar-fixed-top"><%= yield %></div>
    </main>
    <%= render 'layouts/bloak/footer' %>
  </body>
</html>
