<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'bloak/application/javascript' %>
    <%= render 'bloak/application/meta_tags' %>
    <%= render 'bloak/application/stylesheet' %>

  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render 'bloak/application/header' %>
      <div class="navbar-fixed-top">
        <%= yield %>
      </div>
    </main>
    <%= render 'bloak/application/footer' %>
  </body>
</html>
