<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="<%= admin_posts_path %>" class="mt-4 mx-auto mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4"><%= Bloak.site_name %> Admin</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="<%= admin_posts_path %>" class="nav-link text-white <%= 'active' if controller.controller_name == 'posts' %>" aria-current="page">
        <i class="fas fa-file-alt"></i>
        <span class="ml-1">Posts</span>
      </a>
    </li>
    <li>
      <a href="<%= admin_images_path %>" class="nav-link text-white <%= 'active' if controller.controller_name == 'images'%>">
        <i class="fas fa-file-image"></i>
        <span class="ml-1">Images</span>
      </a>
    </li>
  </ul>
</div>