<%= form_with(model: [:admin, post], local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="alert" class="alert alert-danger mb-5" role="alert">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="field mb-3">
        <%= form.label :author_name, class: 'form-label' %>
        <%= form.text_field :author_name, class: 'form-control' %>
      </div>
    </div>

    <div class="col">
      <div class="field mb-3">
        <%= form.label :author_email, class: 'form-label' %>
        <%= form.text_field :author_email, class: 'form-control' %>
      </div>
    </div>
    <div class="col-2">
      <div class="field mb-3">
        <%= form.label :published_at, class: 'form-label' %>
        <%= form.date_field(:published_at, class: 'form-control', value: (DateTime.now.to_s(:friendly_short) unless post.published_at.present?)) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="field mb-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
        <div class="form-text">A descriptive title for this post should be less than 70 characters long</div>
      </div>
    </div>
    <div class="col">
      <div class="field mb-3">
        <%= form.label :cover_image, class: 'form-label' %>
        <%= form.file_field :cover_image, class: 'form-control', direct_upload: true %>
        <% if post.cover_image.attached? %>
          <div class="form-text">
            <%= link_to post.cover_image.filename, Rails.application.routes.url_helpers.rails_blob_path(post.cover_image, disposition: :inline, only_path: true) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2">
      <div class="field mb-3">
        <%= form.label :topic, class: 'form-label' %>
        <%= form.text_field :topic, class: 'form-control' %>
        <div class="form-text">Single tag or word</div>
      </div>
    </div>
  </div>

  <div class="field mb-3">
    <%= form.label :summary, class: 'form-label' %>
    <%= form.text_field :summary, class: 'form-control', accept: 'image/png,image/gif,image/jpeg' %>
    <div class="form-text">A short summary that will be shown as an excerpt on the index page for posts, should be 150 characters long</div>
  </div>

  <div class="field mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="row mt-5">
    <div class="col-2">
      <div class="form-check">
        <%= form.check_box :published, class: 'form-check-input' %>
        <%= form.label :published, class: 'form-check-label' %>
      </div>
    </div>
    <div class="col-2">
      <div class="form-check">
        <%= form.check_box :featured, class: 'form-check-input' %>
        <%= form.label :featured, class: 'form-check-label' %>
      </div>
    </div>
    <div class="col position-relative">
      <div class="actions position-absolute end-0 me-3">
        <%= link_to 'Cancel', admin_posts_path, class: 'btn btn-grey' %>
        <%= form.submit "Save", class: 'btn btn-primary', onClick: "this.form.submit()" %>
        <%= form.submit "Save and Close", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("post_content"),
    forceSync: true,
    toolbar: false,
  });
</script>